@media (max-width: 1439px) {
}

@media (max-width: 1200px) {
    .container {
        max-width: 900px;
    } 

    .icons {
        .icon {
            border: 4px solid #FFD500;
            padding: 10px;
            margin-right: 20px;
            &__mini {
                border: 2px solid #FFD500;
                margin-right: 10px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        img {
            width: 30px;
            height: 30px;
        }
    }

    .subtitle {
        margin-top: 50px;
        font-size: 32px;
        &__mini {
            font-size: 24px;
            margin-top: 50px;
            &_pt0 {
                margin-top: 0;
            }
        }
    }
    
    .header {
        margin-top: 20px;
        &__link {
            font-size: 18px;
        }
    }

    .promo {
        &__wrapper {
            margin-top: 70px;
        }
        &__title {
            font-size: 32px;
        }
        &__descr {
            font-size: 24px;
        }
        &__photo {
            width: 375px;
            height: 360px;
        }
        .photo {  
            &__img {
                width: 340px;
                height: 330px;
            }
            &__blue {    
                width: 340px;
                height: 330px;
            }
            &__pink {
                width: 340px;
                height: 330px;
            }
        }
    }

    .about {
        font-size: 18px;
        &__descr {
            width: 600px;
        }
        &__cat {
            width: 250px;
            top: -30px;
        }
        &__education {
            margin-top: 50px;
        }
        .education {
            &__cert {
                width: 300px;
                img {
                    width: 100%;
                }
            }
            
        }

        .list {
            &__column {
                width: 550px;
            }
            &__p {
                font-size: 18px;
            }
            // &__li {
            //     &::after {
            //         height: calc(100% + 20px);
            //         top: -55px;
            //     }
            //     &:last-child {
            //         &::after {
            //             height: calc(200% + 20px);
            //         }
            //     }
            // }
        }

        .skills {
            &__container {
                gap: 30px 0;
            }
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .works {
        &__text {
            font-size: 18px;
        }
        &__model {
            padding: 30px 0 10px 0;
        }
        .click {
            font-size: 22px;
        }
        .mokaps__wrapper {
            margin-top: 30px;
            width: 600px;
        }
        &__mokap {
            width: 280px;
            margin-bottom: 20px;
        }
    }

    .footer {
        margin-top: 80px;
        &__text {
            font-size: 18px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .icons {
        .icon {
            border: 2px solid #FFD500;
            &__mini {
                border: 2px solid #FFD500;
                margin-right: 10px;
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        img {
            width: 30px;
            height: 30px;
        }
    }

    .subtitle {
        margin-top: 50px;
        font-size: 28px;
        &__mini {
            font-size: 24px;
            margin-top: 30px;
            &_pt0 {
                margin-top: 0;
            }
        }
    }

    .promo {
        &__title {
            font-size: 32px;
        }
        &__descr {
            font-size: 18px;
            padding: 10px 0 50px 0;
        }
        &__photo {
            width: 325px;
            height: 310px;
        }
        .photo {  
            &__img {
                width: 290px;
                height: 280px;
            }
            &__blue {    
                width: 290px;
                height: 280px;
            }
            &__pink {
                width: 290px;
                height: 280px;
            }
        }
    }

    .about {
        font-size: 14px;
        &__descr {
            width: 450px;
        }
        &__cat {
            width: 230px;
            top: -40px;
        }
        .education {
            &__cert {
                width: 200px;
                img {
                    width: 100%;
                }
            }
            
        }

        .list {
            &__column {
                width: 500px;
            }
            &__p {
                font-size: 14px;
            }
            // &__ul {
            //     padding-top: 25px;
            // }
        }

        .skills {
            &__container {
                margin-top: 40px;
                grid-template-columns: repeat(2,1fr);
                gap: 30px 0;
            }
        }
    }

    .works {
        &__text {
            font-size: 14px;
        }
        .click {
            font-size: 18px;
        }
    }

    .footer {
        margin: 40px 0 10px 0;
        &__text {
            font-size: 14px;
        }
    }
    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .header {
        &__link {
            font-size: 16px;
        }
    }

    .icons {
        justify-content: center;
        .icon {
            border: 1px solid #FFD500;
            padding: 10px;
            margin-right: 30px;
            &__mini {
                margin-right: 15px;
                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        img {
            width: 30px;
            height: 30px;
        }
    }

    .promo {
        text-align: center;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
    
        &__title {
            padding-top: 0;
            font-size: 32px;
        }
    
        &__descr {
            padding: 10px 0 30px 0;
        }
    
        &__photo {  
            margin-top: 30px;
            width: 390px;
            height: 380px;
        }
        .photo {  
            &__img {
                z-index: 3;
                width: 370px;
                height: 360px;
            }
            &__blue {    
                width: 370px;
                height: 360px;
            }
            &__pink {
                width: 370px;
                height: 360px;
            }
        }
    }

    .about {
        &__descr {
            width: 450px;
        }

        &__cat {
            display: none;
        }
        .myChart {
            height: 120px !important;
            width: 170px !important;
        }
    }

    .works {
        .advertising__container{
            grid-template-columns: 1fr;
        }
        .centered-text {
            font-size: 28px;
        }
        .mokaps__wrapper {
            width: 400px;
        }
        &__mokap {
            width: 180px;
            margin-bottom: 20px;
        }

    }

    
    .footer {
        margin: 40px 0 10px 0;
        &__text {
            font-size: 12px;
        }
    }
    
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px 0 10px;
    }

    .subtitle {
        margin-top: 30px;
        font-size: 22px;
        &__mini {
            font-size: 16px;
            margin-top: 30px;
            &_pt0 {
                margin-top: 0;
            }
        }
    }

    .header {
         display: none;
    }

    .hamburger {
        display: flex;
    }

    .icons {
        &__mini {
            margin-top: 15px;
        }
        .icon {
            border: 1px solid #FFD500;
            padding: 10px;
            margin-right: 30px;
            &__mini {
                margin-right: 15px;
                img {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        img {
            width: 20px;
            height: 20px;
        }
    }

    .promo {
        &__wrapper {
            margin-top: 90px;
        }
    
        &__title {
            font-size: 24px;
        }
    
        &__descr {
            font-size: 14px;
            padding: 5px 0 20px 0;
        }
    
        &__photo {  
            margin-top: 20px;
            width: 290px;
            height: 280px;
        }
        .photo {  
            &__img {
                z-index: 3;
                width: 270px;
                height: 260px;
            }
            &__blue {    
                width: 270px;
                height: 260px;
            }
            &__pink {
                width: 270px;
                height: 260px;
            }
        }
    }

    .about {
        &__descr {
            width: 100%;
            font-size: 12px;
        }

        &__cat {
            display: none;
        }
        .myChart {
            height: 100px !important;
            width: 120px !important;
        }
        .centered-text {
            font-size: 24px;
        }
        &__education {
            flex-direction: column;
            &__certs {
                margin-top: 20px;
            }
        }
        .education {
            &__certs {
                margin-top: 20px;
            }
        }
        .list {
            &__column {
                width: 100%;
            }
            &__ul {
                padding-top: 25px;
            }
            &__li {
                margin-top: 10px;
            }
            &__p {
                font-size: 12px;
            }
        }
        .skills {
            &__container {
                margin-top: 20px;
            }
            &__name {
                padding-bottom: 5px;
            }
        }
    }

    .works {
        &__text {
            font-size: 12px;
        }
        .arr {
            &__wrapper {
                display: flex;
            }
            &_hide {
                display: none;
            }
        }
        &__slider {
            margin: 20px auto 10px auto;
        }
        &__model {
            padding: 20px 0 10px 0 ;
        }
        
        .advertising {
            &__container{
                grid-template-columns: 1fr;
                grid-template-rows: 200px;
                grid-auto-rows: 200px;
            }
            &__box {
                margin-top: 20px;
            }
            
        }
        
        .box1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .box5 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &__mokap {
            width: 130px;
            margin-bottom: 20px;
        }
        .mokaps {
            &__wrapper {
                margin: 0 auto;
                width: 280px;
            }
        }

    }

    .footer {
        margin-top: 30px;
        &__wrapper {
            flex-direction: column;
            align-items: center
        }
        &__item {
            margin-bottom: 10px;
            img {
                width: 15px;
            }
        }
    }
}