@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;400;600;700&family=Montserrat:wght@100;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }
}

.container {
    width: 1340px;
    margin: 0 auto;
}

.icons {
    display: flex;
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #FFD500;
        border-radius: 100%;
        padding: 17px;
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
        &__mini {
            margin-right: 15px;
            img {
                width: 20px;
                height: 20px;
            }
        }
    }
    img {
        width: 40px;
        height: 40px;
    }
}

.subtitle {
    margin-top: 80px;
    text-transform: uppercase;
    font-family: Montserrat Alternates;
    font-size: 42px;
    font-weight: 700;
    &__mini {
        font-family: Montserrat Alternates;
        text-transform: uppercase;
        font-size: 32px;
        margin-top: 50px;
        &_pt0 {
            margin-top: 0;
        }
        &_right {
            text-align: right;
        }
    }
}


@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/works';
@import 'blocks/footer';