.about {
    font-family: 'Montserrat';
    font-size: 24px;


    &__wrapper {
        position: relative;
        text-align: right;
    }
    &__descr {
        width: 720px;
        margin-left: auto;
    }
    &__cat {
        position: absolute;
        left: 0;
        top: -70px;
    }


    &__education {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .education {
        &__column {
            width: 780px;
            opacity: 0;
            transform: translateX(-80%);
        }
        &__certs {
            transform: translateX(-80%);
        }
    }

    .list {
        &__column {
            &_right {
                margin-left: auto;
            }
        }
        &__before {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 1px;
                background-color: #000;
                top: 50%;
                transform: translateY(-50%);
            }
            &_right {
                &::before {
                    right: 0;
                }
            }
        }
        &__li {
            &:nth-child(n+3) {
                padding-top: 15px;
            }

            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: #000;
            }

            &:first-child {
                padding-bottom: 30px;
                &::after {
                    top: calc(50% - 15px);
                    height: calc(50% + 15px);
                }
            }
            &:last-child {
                &::after {
                    height: calc(50% + 8px);
                }
            }
            
            // &:last-child {
            //     &::after {
            //         height: calc(200% + 15px);
            //     }
            // }
        }
        &__text {
            padding-left: 35px;
            &_right {
                padding-left: 0;
                padding-right: 35px;
            }
        }
    }

    
    .skills {
        &__container {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px 0;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__name {
            padding-bottom: 10px;
        }
        &__diagram {
            position: relative;
        }
    }
    .centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #631544;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
        font-size: 36px;
        font-weight: 600;
    }
    
    &__experience {
        text-align: right;
        padding-top: 40px;
    }

    .experience__wrapper {
        overflow: hidden;
    }
}