.about {
    font-family: 'Montserrat';
    font-size: 24px;


    &__wrapper {
        position: relative;
        text-align: right;
    }
    &__descr {
        width: 850px;
        margin-left: auto;
    }
    &__cat {
        position: absolute;
        left: 0;
        top: -70px;
    }


    &__education {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .education {
        &__column {
            width: 780px;
        }
    }

    .list {
        &__before {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 1px;
                background-color: #000;
                top: 50%;
                transform: translateY(-50%);
            }
            &_right {
                &::before {
                    right: 0;
                }
            }
        }
        &__ul {
            position: relative;
            padding-top: 40px;
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: calc(100% + 3%);
                top: -19px;
                background-color: #000;
            }
        }
        &__li {
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
        }
        &__text {
            padding-left: 35px;
            &_right {
                padding-left: 0;
                padding-right: 35px;
            }
        }
    }

    
    .skills {
        &__container {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px 0;
        }
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__name {
            padding-bottom: 10px;
        }
        &__diagram {
            position: relative;
        }
    }
    .centered-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #631544;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
        font-size: 36px;
        font-weight: 600;
    }
    
    &__experience {
        margin-left: auto;
        text-align: right;
        width: 950px;
    }
}