.promo {
    font-family: 'Montserrat Alternates';
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
    }

    &__title {
        padding-top: 30px;
        font-size: 48px;
        text-transform: uppercase;
    }

    &__descr {
        font-size: 32px;
        padding: 10px 0 70px 0;
    }

    &__photo {  
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 515px;
        height: 503px;
    }
    .photo {  
        &__rect {
            position: absolute;
        }
        &__img {
            z-index: 3;
            width: 470px;
            height: 460px;
        }
        &__blue {    
            top: 0;
            left: 0;
            width: 470px;
            height: 460px;
            background: linear-gradient(182deg, rgba(13, 174, 242, 0.56) 1.75%, rgba(172, 195, 195, 0.63) 62.58%);
            z-index: 1;
        }
        &__pink {
            bottom: 0;
            right: 0;
            width: 470px;
            height: 460px;
            background: linear-gradient(180deg, rgba(255, 207, 136, 0.61) 24.56%, #E472A2 100%);
            z-index: 2;
        }
    }
}
