.works {
    font-family: 'Montserrat';
    position: relative;
    &__slider {
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .arr {
            img {
                cursor: pointer;
            }
        }
        img {
            width: 100%;
        }
    }
    .slider {
        &__wrapper {
            overflow: hidden;
            width: 900px;
        }
        &__container {
            display: flex;
            transition: all .5s;
        }
        &__item {
            width: 700px;
        }
    }
    .arr__wrapper {
        margin: 0 auto;
        width: 150px;
        display: none;
        justify-content: space-between;
        align-items: center;
        img {
            width: 50px;
        }
    }
    &__model {
        text-align: center;
        padding: 30px 0;
    }
    &__img {
        width: 100%;
    }

    &__text {
        text-align: center;
        font-size: 24px;
    }
    .click {
        font-size: 26px;
        color: rgb(60, 232, 238);
        transition: all .5s;
        &:hover {
            color: rgb(34, 147, 151);
        }
    }
    .advertising__box {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }   
    .advertising__container{
        display: grid;
        grid-template-columns: 220px 240px 240px;
        grid-template-rows: 375px 250px 220px;
        gap: 10px;
    }
    .works__advertising img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0 auto;
    }
    .box1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .box5 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .mokaps__wrapper {
        display: flex;
        margin: 0 auto;
        width: 800px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__mokap {
        width: 380px;
        margin-bottom: 30px;
    }
}